@import "./../../variables.scss";

.beers-header {
  background-color: $secondary-background !important;
  padding: 10px 10px 0px 10px !important;
  margin: 0px !important;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.beers-content {
  padding: 15px 15px 15px 15px;
  background-color: $background-color;
}

.beers-box{
  padding: 15px 15px 15px 15px;
  background-color: $background-color;
  box-shadow: 4px 20px 53px -16px rgba(0,0,0,0.48);

}

.beer-card {
  width: 240px !important;
}

.beer-image {
  background-size: cover;
  background-position: center;
  height: 150px;
  box-shadow: 0 10px 6px -6px #777;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.beer-detail-image {
  height: 300px;
}

.beers-detail{
  background-color: $secondary-background !important;
  padding: 10px 10px 50px 10px !important;
  height: 10px;
  font-weight: 600 !important;
  float:left;
}

.beers-graph{
}
=======
.beer-image-container {
 width: 200px;
<<<<<<< Updated upstream
}
=======
}

.beers-title {
  font-weight: 900 !important;
  color: rgb(57, 57, 57) !important;
}

.beer-container {
  box-shadow: 4px 20px 53px -16px rgba(0,0,0,0.48);
  border-radius: 20px 20px 20px 20px;
}
>>>>>>> Stashed changes
